<footer class="footer">
    <div class="wrap">
        <div class="split__title">
            © 2022 &nbsp; <a href="https://github.com/deatil/doak-cms" target="_blank">Doak CMS</a> All Rights Reserved.
            <span class="icp"><a href="https://beian.miit.gov.cn/" target="_blank">{{ getSetting("website_beian") }}</a></span>
        </div>
    </div>
</footer>

<div id="backtop" class="show"></div>
<script type="text/javascript" src='{{ assets("cms/doak/script.js") }}'></script>
<script>
$(document).ready(
    function () {
        NProgress.done();
    }
);
</script>
