<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows_nt ua-windows_nt-6 ua-windows_nt-6-1 ua-chrome ua-chrome-86 ua-chrome-86-0 ua-chrome-86-0-4240 ua-chrome-86-0-4240-198 ua-desktop ua-desktop-windows ua-webkit ua-webkit-537 ua-webkit-537-36 js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    {{include "/cms/doak/head"}}
    <link rel="stylesheet" href='{{ assets("cms/doak/atom-one-dark.min.css") }}'>
    <link rel="stylesheet" href='{{ assets("cms/doak/viewer.css") }}' crossorigin="anonymous">
    <title>{{ data.Title }}</title>
</head>

<body>

{{include "/cms/doak/header"}}

<div class="wrapper">
    <article>
        <h1 class="title">{{ data.Title }}</h1>
        <div class="body">
            {{ data.Content | raw }}
        </div>
    </article>
</div>

{{include "/cms/doak/footer"}}

<script src='{{ assets("cms/doak/highlight.min.js") }}'></script>
<script>hljs.highlightAll();</script>
<script src='{{ assets("cms/doak/viewer.js") }}' crossorigin="anonymous"></script>
<script src='{{ assets("cms/doak/jquery-viewer.js") }}'></script>
<script>
$(function () {
    var $images = $('article .body img[src^="/upload"]');
    $images.viewer({
        navbar: false,
        title: false,
        toolbar: false,
        tooltip: false,
        loop: false,
        keyboard: false,
        rotatable: false,
        scalable: false,
        slideOnTouch: false,
        className: 'abcccc'
    });
});
</script>

</body>
</html>