<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows_nt ua-windows_nt-6 ua-windows_nt-6-1 ua-chrome ua-chrome-86 ua-chrome-86-0 ua-chrome-86-0-4240 ua-chrome-86-0-4240-198 ua-desktop ua-desktop-windows ua-webkit ua-webkit-537 ua-webkit-537-36 js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <link rel="stylesheet" href='{{ assets("cms/doak/app.css") }}' type="text/css" media="all">
    <link rel="stylesheet" href='{{ assets("cms/doak/nprogress.min.css") }}' type="text/css" media="all">
    <link rel="stylesheet" href='{{ assets("cms/doak/iconfont.css") }}' type="text/css" media="all">
    <script type="text/javascript" src='{{ assets("cms/doak/jquery.min.js") }}'></script>
    <script src='{{ assets("cms/doak/nprogress.min.js") }}'></script>
    <title>{{ data.Title }} - {{ getSetting("website_name") }}</title>
    <link rel="stylesheet" href='{{ assets("cms/doak/atom-one-dark.min.css") }}'>
    <link rel="stylesheet" href='{{ assets("cms/doak/viewer.css") }}' crossorigin="anonymous">
</head>

<body>
<script>NProgress.start();</script>

<header>
    <div class="header-container">
        <a href="/">
            <h1>{{ getSetting("website_name") }}</h1>
        </a>
        <nav>
            <ul>
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/c/rmbg">娱乐八卦</a>
                </li>
                <li>
                    <a href="/p/aboutme">关于</a>
                </li>
            </ul>
        </nav>

    </div>
</header>

<div class="header-banner">
    <section class="hero">
        <div class="inner"></div>
    </section>
    <figure class="top-image" style='background-image: url({{ assets("cms/doak/img/bg.jpg") }});'></figure>

    <canvas id="wave-canvas" width="1351" height="550"></canvas>
</div>

<div class="wrapper">
    <article>
        <h1 class="title">{{ data.Title }}</h1>
        <div class="meta">
            <span class="category">
                <a href='{{ cateUrl(cate.Slug) }}' title="{{ cate.Name }}" target="_blank">
                    {{ cate.Name }}
                </a>
            </span>
            <span class="from pipe">
                {{ data.From }}
            </span>
            <span class="dateline pipe">
                {{ createTime(data.AddTime).Format("2006年01月02日 15:04") }}
            </span>
            <span class="viewcount pipe">
                {{ data.Views }} 次浏览
            </span>
            
            {{if len(tags) > 0}}
            <span class="tags pipe">
                {{ range ti, tv := tags }} 
                    <a href='{{ tagUrl(tv) }}' 
                        target="_blank" 
                        title="{{ tv }}"
                        class="tag-item">{{ tv }}</a>
                {{ end }}
            </span>
            {{ end }}
        </div>
        <div class="body">
            {{ data.Content | raw }}
        </div>
    </article>

</div>

<footer class="footer">
    <div class="wrap">
        <div class="split__title">
            © 2022 &nbsp; <a href="https://github.com/deatil/doak-cms" target="_blank">Doak CMS</a> All Rights Reserved.
            <span class="icp"><a href="https://beian.miit.gov.cn/" target="_blank">{{ getSetting("website_beian") }}</a></span>
        </div>
    </div>
</footer>

<div id="backtop" class="show"></div>
<script type="text/javascript" src='{{ assets("cms/doak/script.js") }}'></script>
<script>
$(document).ready(
    function () {
        NProgress.done();
    }
);
</script>

<script src='{{ assets("cms/doak/highlight.min.js") }}'></script>
<script>hljs.highlightAll();</script>
<script src='{{ assets("cms/doak/viewer.js") }}' crossorigin="anonymous"></script>
<script src='{{ assets("cms/doak/jquery-viewer.js") }}'></script>
<script>
$(function () {
    var $images = $('article .body img[src^="/upload"]');
    $images.viewer({
        navbar: false,
        title: false,
        toolbar: false,
        tooltip: false,
        loop: false,
        keyboard: false,
        rotatable: false,
        scalable: false,
        slideOnTouch: false,
        className: 'abcccc'
    });
});
</script>

</body>
</html>