{{extends "/admin/common/base_content"}}

{{block body()}}控制台 - Doak CMS{{end}}

{{block body()}}

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-line fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">文章总数</p>
                        <h6 class="mb-0">{{ artTotal }}</h6>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-bar fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">分类总数</p>
                        <h6 class="mb-0">{{ cateTotal }}</h6>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-area fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">标签总数</p>
                        <h6 class="mb-0">{{ tagTotal }}</h6>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-pie fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">账号总数</p>
                        <h6 class="mb-0">{{ userTotal }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
    <h6 class="mb-0">Recent Salse</h6>
    <a href="">Show All</a>
    </div>
    <div class="table-responsive">
    <table class="table text-start align-middle table-bordered table-hover mb-0">
    <thead>
    <tr class="text-dark">
    <th scope="col"><input class="form-check-input" type="checkbox"></th>
    <th scope="col">Date</th>
    <th scope="col">Invoice</th>
    <th scope="col">Customer</th>
    <th scope="col">Amount</th>
    <th scope="col">Status</th>
    <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td><input class="form-check-input" type="checkbox"></td>
    <td>01 Jan 2045</td>
    <td>INV-0123</td>
    <td>Jhon Doe</td>
    <td>$123</td>
    <td>Paid</td>
    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
    </tr>
    <tr>
    <td><input class="form-check-input" type="checkbox"></td>
    <td>01 Jan 2045</td>
    <td>INV-0123</td>
    <td>Jhon Doe</td>
    <td>$123</td>
    <td>Paid</td>
    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
    </tr>
    <tr>
     <td><input class="form-check-input" type="checkbox"></td>
    <td>01 Jan 2045</td>
    <td>INV-0123</td>
    <td>Jhon Doe</td>
    <td>$123</td>
    <td>Paid</td>
    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
    </tr>
    <tr>
    <td><input class="form-check-input" type="checkbox"></td>
    <td>01 Jan 2045</td>
    <td>INV-0123</td>
    <td>Jhon Doe</td>
    <td>$123</td>
    <td>Paid</td>
    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
    </tr>
    <tr>
    <td><input class="form-check-input" type="checkbox"></td>
    <td>01 Jan 2045</td>
    <td>INV-0123</td>
    <td>Jhon Doe</td>
    <td>$123</td>
    <td>Paid</td>
    <td><a class="btn btn-sm btn-primary" href="">Detail</a></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>

{{end}}

{{block script_after()}}
<script type="3029259e35d7bc1c98cd40a8-text/javascript">
(function($) {
    "use strict";
    
    $(".sidebar-doak-index").addClass("active");
})(jQuery);
</script>
{{end}}