<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{block title()}}Doak CMS{{end}}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="{{block title()}}Doak CMS{{end}}" name="keywords">
    <meta content="{{block title()}}Doak CMS{{end}}" name="description">

    {{block link_before()}}{{end}}
    {{block link()}}
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href='{{ adminAssets("css/css2.css") }}' rel="stylesheet">

    <link href='{{ adminAssets("css/all.min.css") }}' rel="stylesheet">
    <link href='{{ adminAssets("css/bootstrap-icons.css") }}' rel="stylesheet">

    <link href='{{ adminAssets("css/owl.carousel.min.css") }}' rel="stylesheet">
    <link href='{{ adminAssets("css/tempusdominus-bootstrap-4.min.css") }}' rel="stylesheet">

    <link href='{{ adminAssets("css/bootstrap.min.css") }}' rel="stylesheet">

    <link href='{{ adminAssets("css/style.css") }}' rel="stylesheet">
    {{end}}
    {{block link_after()}}{{end}}

</head>

<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">加载中...</span>
            </div>
        </div>
        
        {{include "/admin/common/sidebar"}}
        
        <div class="content">

            {{include "/admin/common/topnav"}}
            
            {{block body()}}{{end}}
            
            {{include "/admin/common/footer"}}
        </div>
        
        {{include "/admin/common/totop"}}
    </div>

    {{block script_before()}}{{end}}
    {{block script()}}
    <script src='{{ adminAssets("js/jquery-3.4.1.min.js") }}' type="3029259e35d7bc1c98cd40a8-text/javascript"></script>
    <script src='{{ adminAssets("js/bootstrap.bundle.min.js") }}' type="3029259e35d7bc1c98cd40a8-text/javascript"></script>
    <script src='{{ adminAssets("js/chart.min.js") }}' type="3029259e35d7bc1c98cd40a8-text/javascript"></script>
    <script src='{{ adminAssets("js/easing.min.js") }}' type="3029259e35d7bc1c98cd40a8-text/javascript"></script>
    <script src='{{ adminAssets("js/waypoints.min.js") }}' type="3029259e35d7bc1c98cd40a8-text/javascript"></script>
    <script src='{{ adminAssets("js/owl.carousel.min.js") }}' type="3029259e35d7bc1c98cd40a8-text/javascript"></script>
    <script src='{{ adminAssets("js/moment.min.js") }}' type="3029259e35d7bc1c98cd40a8-text/javascript"></script>
    <script src='{{ adminAssets("js/moment-timezone.min.js") }}' type="3029259e35d7bc1c98cd40a8-text/javascript"></script>
    <script src='{{ adminAssets("js/tempusdominus-bootstrap-4.min.js") }}' type="3029259e35d7bc1c98cd40a8-text/javascript"></script>
    <script src='{{ adminAssets("js/layer/layer.js") }}' type="3029259e35d7bc1c98cd40a8-text/javascript"></script>

    <script src='{{ adminAssets("js/main.js") }}' type="3029259e35d7bc1c98cd40a8-text/javascript"></script>
    <script src='{{ adminAssets("js/rocket-loader.min.js") }}' data-cf-settings="3029259e35d7bc1c98cd40a8-|49" defer=""></script>

    <script src='{{ adminAssets("js/app/app.js") }}' type="3029259e35d7bc1c98cd40a8-text/javascript"></script>
    {{end}}
    {{block script_after()}}{{end}}
</body>
</html>
